<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <title>{{title}}</title>
  <base href="/diary/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!---<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
  <meta name="description" content="{{description}}">
  <link href="static/css/style.css" rel="stylesheet">
  <link rel="icon" href="/diary/static/data/{{favicon}}" type="image/png"/>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="background: url(/diary/static/data/{{header}}) no-repeat 50% 50%;">
	<h1 class="title" style="height: 150px; background-color: Transparent; ">
	  {{title}}
	</h1>
      </div>
    
      <div class="col-sm-2">
	<div class="form-group">
	  <label for="goDate">ページ名
	    <input type="text" class="form-control" id="goDate">
	    <input type="button" value="移動" id="goButton">
	  </label>
	</div>
	
	<div class="links">
	  <a href="/diary/show/{{prevMonthStr}}">前月</a>
	  /
	  <a href="/diary/">今日</a>
	  /
	  <a href="/diary/show/{{nextMonthStr}}">次月</a>
	</div>
	<div class="row">
	  {% module Template("calendar.html", year=prevMonthYear, month=prevMonthMonth, cal=prevCal, target=target, main=False, holidays=holidays, privates=privates, mode=mode, hasDiaries=hasDiaries, todayStr=todayStr) %}
	</div>
	<div class="row">
	  {% module Template("calendar.html", year=centerMonthYear, month=centerMonthMonth, cal=centerCal, target=target, main=True, holidays=holidays, privates=privates, mode=mode, hasDiaries=hasDiaries, todayStr=todayStr) %}
	</div>
	<div class="row">
	  {% module Template("calendar.html", year=nextMonthYear, month=nextMonthMonth, cal=nextCal, target=target, main=False, holidays=holidays, privates=privates, mode=mode, hasDiaries=hasDiaries, todayStr=todayStr) %}
	</div>

	<div class="conf">
	  <ul>
	    <li><a href="/diary/edit/config">基本設定</a><br></li>
	    <li><a href="/diary/edit/holidays">祝日設定</a><br></li>
	    <li><a href="/diary/edit/privates">特殊日設定</a><br></li>
	  </ul>
	</div>
      </div>

      <div class="col-sm-10">
	{% block main %}
	test
	{% end %}
      </div>
    </div>
  </div>

  {% block modal %}
  {% end %}
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!---<script src="static/js/bootstrap.min.js"></script>-->
  <!---<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    $(function(){
      $('#goButton').click(function(){
        var d = $('#goDate').val();
        location.href = '/diary/show/' + d;
      })
    });
  </script>
  {% block script %}
  {% end %}
</body>
</html>
